* {
  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(244, 203, 152);
}

.header {
  width: 100%;
  padding: 1% 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.form-class {
  width: 75vw;
  display: flex;
}

.input-class {
  border: none;
  outline: none;
  margin-left: 11%;
  padding: 1.5% 4%;
  color: aliceblue;
  border-radius: 15px 0 0 15px;
  background-color: rgb(252, 173, 77);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-class {
  padding: 0 2%;
  border: none;
  outline: none;
  color: aliceblue;
  border-radius: 0 15px 15px 0;
  background-color: rgb(239, 160, 63);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container {
  display: grid;
  margin: 8%;
  grid-row-gap: 2rem;
  align-items: center;
  grid-column-gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
}

.bottom-class {
  width: 100%;
  margin-top: 2%;
  padding: 1% 0;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.bottom-class p {
  padding: 0 10px;
}

.bottom-class button {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(226, 163, 87);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
